*{
    padding: 0px;
    margin: 0px;
}
body{
    color: white;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    background-image: linear-gradient(to top right,rgba(0, 0, 0, 0.938),rgba(0, 0, 0, 0.705)),url(https://assets.nflxext.com/ffe/siteui/vlv3/2f5a878d-bbce-451b-836a-398227a34fbf/web/IN-en-20241230-TRIFECTA-perspective_5ab944a5-1a71-4f6d-b341-8699d0491edd_large.jpg);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}
.logo{
    height: 10vh;
    width: 10vw;
    position: absolute;
    top:10px;
    left: 160px;
}

.head{
    width: 150px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:30px;
    gap: 20px;
    right: 160px;
}
.getstart:hover{
    background-color: rgb(82, 31, 31);
}

.signin{
    background-color: rgb(255, 34, 34);
    border: 0.5px solid red;
    height: 5vh;
    width: 10vw;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    
}
.signin:hover{
    background-color: rgb(82, 31, 31);
}

.lang{
    height: 5vh;
    width: 10vw;
    /* padding: 10px; */
    font-size: 16px;
    border-radius: 5px;

}
.input-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-bottom: 25px;

    
}
.img55{
    position: absolute;
    bottom: 40px;
    left: -10px;
    font-size: 4rem;
    color: rgba(231, 160, 78, 0.849);
}
.mavies:hover .img55{
    transform: scale(1.2);
}

h5{
    font-size: 1.6rem;
    margin-bottom: 25px;
}
h6{
    font-size: 1rem;
    margin-bottom: 25px;
}
.email{
    background-color: black;
    border: 0.5px solid ;
    border-radius: 5px;
    color: white;
    height: 8vh;
    width: 30vw;
    /* padding: 5px; */
    font-size: 1.2rem;
    padding-left:20px ;
}
.getstart{
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    height: 8vh;
    width: 15vw;
    font-size: 1.2rem;
}
/* .getstart:hover{
    background-color: rgb(117, 38, 190);
} */
.main-body{
    padding-left: 10%;
    padding-right: 10%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    box-sizing: border-box;
}
.divider{
    width: 100%;
    height: 40px;
    border-top:rgb(255, 50, 50) 4px solid ;
    border-radius: 50%/24px 24px 0 0;
    background-image: linear-gradient(to bottom, rgb(36, 12, 99) 1% , black 100%);
}
.country{
    height: 6vh;
    width: 8vw;
    color: white;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    /* margin-top: 40px; */
}
.mavies{
    position: relative;
    height: 300px;
    width: 200px;
    box-sizing: border-box;
}
.mavies:hover .image{
    transform: scale(1.2);
}
.image{
    height: 250px;
    width: 170px;
    border-radius: 7px;
    transition: all 1s ease-in-out;
    
}
.trending-movies{
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    margin-right: ;
    overflow-x: auto;
    scrollbar-width: none;
    padding-right: 10%;
}
.bosx{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}
.box{
    height: 300px;
    width: 200px;
    /* border: 1px solid rgb(41, 0, 80); */
    justify-content: space-between; 
    border-radius: 10px;
    background-color: rgb(31, 2, 70);
    margin: px;
    padding: 20px;
    margin-bottom: 40px;

}
h3{
    margin-bottom: 25px;

}
.hi{
    margin-top: 60px;
}
.desk{
    height: 50px;
    width: 50px;
    margin-top: 120px;
    margin-left: 150px;
    
}
.desk1{
    height: 50px;
    width: 50px;
    margin-top: 120px;
    margin-left: 150px;
    
}
.desk2{
    height: 50px;
    width: 50px;
    margin-top: 120px;
    margin-left: 150px;
}
.desk3{
    height: 50px;
    width: 50px;
    margin-top: 85px;
    margin-left: 150px;
}
.onkya{
    display: flex;
    margin-top: 20px;
    background-color: rgb(22, 21, 21, 0.904);
    height: 60px;
    padding-left: 10px;
    box-sizing: border-box;
}
.sentance{
   
    font-size: 1.3rem;
    /* border: 1px solid rgb(40, 40, 40); */
    
    width: 82vw;
    /* height: 6vh; */
    padding-top: 10px;
    /* display: flex; */
    margin-top: 5px;
}
.add{
    font-size: 3rem;
    margin-right: 20px;
    margin-top: 5px;
}
.added{
    margin-bottom: 30px;
}
.cent{
    text-align: center;
    /* margin-right: px; */
    /* margin-left: 0px; */
}
.inter{
    /* margin: auto;/ */
    text-align: center;
    margin-right: 50px;
    margin-left: 40px;
    /* background-color: rgba(34, 33, 33, 0.781); */
   
}
.email1{
    background-color: black;
    border: 0.5px solid ;
    border-radius: 5px;
    color: white;
    height: 8vh;
    width: 40vw;
    /* margin-left: 40px; */
    font-size: 1.2rem;
    /* margin-left: 20px; */
    padding-left:20px ;
}

.get1{
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    height: 8vh;
    width: 18vw;
    font-size: 1.2rem;
}
.get1:hover{
    background-color: rgb(109, 37, 177);
}
.int{
    font-size: 1rem;
    color: white;
    margin-top: 20px;
}
.var{
    margin-top: 10px;
    text-decoration-line: underline;
    font-size: 1rem;

}
.var1{
    margin-top: 10px;
    text-decoration-line: underline;
    font-size: 1rem;
    background-color: blue; 
}
.Button{
    height: 30px;
    width: 110px;
    font-size: 1.1rem;
    margin-top: 50px;
    background-color: rgba(27,26,26,0.918);
    color: white;
    border-radius: 5px;
}

.spark{
    display: flex;
}
.pen{
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 150px;
    margin-top: 30px;
}

