*{
  padding: 0px;
  margin: 0px;
}
.container {
  /* border: 2px solid black; */
  background-color: rgb(253 120 22 / 40%);
  display: flex;
  flex-direction: column;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box {
  height: 150px;
  width: 150px;
  background-color: rgb(255, 0, 0);
  margin-top: 10px;
  margin-right: 10px;
  margin: 30px;
  text-align: center;
}
